@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 158 5% 10%;
    --card: 158 50% 90%;
    --card-foreground: 158 5% 15%;
    --popover: 158 100% 95%;
    --popover-foreground: 158 100% 10%;
    --primary: 158 100% 46.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 158 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 120 30% 85%;
    --muted-foreground: 158 5% 35%;
    --accent: 120 30% 80%;
    --accent-foreground: 158 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 158 5% 90%;
    --border: 158 30% 50%;
    --input: 158 30% 26%;
    --ring: 158 100% 46.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 158 50% 10%;
    --foreground: 158 5% 90%;
    --card: 158 50% 30%;
    --card-foreground: 158 5% 90%;
    --popover: 158 50% 5%;
    --popover-foreground: 158 5% 90%;
    --primary: 158 100% 46.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 158 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 120 30% 25%;
    --muted-foreground: 158 5% 60%;
    --accent: 120 30% 25%;
    --accent-foreground: 158 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 158 5% 90%;
    --border: 158 30% 26%;
    --input: 158 30% 26%;
    --ring: 158 100% 46.3%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
